language: android
jdk: oraclejdk8
android:
  components:
  - tools
  - platform-tools

  # The BuildTools version used by your project
  - build-tools-27.0.1
  - build-tools-26.0.2
  - build-tools-22.0.2

  # The SDK version used to compile your project
  - android-22
  - android-25
  - android-26
  - android-27

  # Support library
  - extra-android-support
  - extra-android-m2repository

  # Specify at least one system image,
  # if you need to run emulator(s) during your tests
  - sys-img-armeabi-v7a-android-22
  - sys-img-armeabi-v7a-android-25
  - sys-img-armeabi-v7a-android-26
  - sys-img-armeabi-v7a-android-27
before_install:
- yes | sdkmanager "platforms;android-27"
- chmod +x gradlew
script:
- ./gradlew jacocoTestReport coveralls
- ./gradlew assembleRelease --stacktrace